.combo {
    display: inline-block;
    white-space: nowrap;
    margin: 0;
    padding: 0;
    border-width: 1px;
    border-style: solid;
    overflow: hidden;
    vertical-align: middle;
}
.combo-arrow
{
   background-image:url('images/selDown.png');
    background-repeat: no-repeat;
    background-position: center center;
}
