<!--我的号码预留页面-->

<div class="layout_vertical_outer">


    <div class="css_text_center">
      <img ng-src="{{adImgSrc}}"/>
    </div>


<div class="css_text_center css_margin_top css_font_color_6c">
    注册即可赠送
    </div>

    <div class="css_text_center css_font_color_6c">
       三天免费试用和6分钟通话
    </div>



    <div class="ad_space"></div><!--填充层-->


        <div class="button_submit_base css_circle css_background_color_110186078" style="margin-top: 15px;" ng-click="clSee()">随便看看
        </div>






    <div class="layout_horizontal_outer">

        <div class="layout_horizontal_inner css_circle border_215214218 css_margin_left10_right5 button_submit_base_height  css_text_center css_margin_top css_backgroundcolor_white css_font_color_6c" ng-click="clRegister()">注册&nbsp;
        </div>

        <div class="layout_horizontal_inner css_circle border_215214218 css_margin_left5_right10 button_submit_base_height  css_text_center css_margin_top css_backgroundcolor_white css_font_color_6c" ng-click="clLogin()">&nbsp;登录
        </div>

    </div>






</div>



