<!--支付宝充值页面-->
<div class="css_margin_topToheader"></div><!--填充层-->
<div class="layout_vertical_outer">

   <div class="css_border_base">
    <div ng-repeat="num in prepaidTypes">
        <div class="win_horizontal_outer css_border_bottom win_horizontal_outer_height" ng-click="clPlipay($index)">
            <div class="layout_horizontal_inner_left">
                {{num.price}}&nbsp;&nbsp;{{num.shortBenefit}}</div>
            <div class="right_arrow"></div></div>

    </div>

   </div>


</div>





