<!--找回密码页面2-->

<div class="css_margin_topToheader"></div><!--填充层-->
<div class="layout_vertical_outer">









    <div class="css_circle border_210209213 css_margin_left_right font_color_188191193 css_background_color_white css_border_base">
        <div class="css_text_center">

            <input placeholder="请输入手机获取到的验证码" class='input_base' ng-model="user.smscode" type='password' name='pwd'>

        </div>



    </div>
  <!--  <div class="css_margin_left_right css_text_vertical_center font_color_188191193 css_margin_top" ng-click="ngclickResms()">  -->

    <div class={{resms.class}} ng-click="ngclickResmsFindpwd2()">
        {{resms.title}}
    </div>





    <div class="button_submit_base css_background_color_110186078 css_margin_top" ng-click="clickSure(user)">  下一步  </div>



</div>




