<!--找回密码页面3-->

<div class="css_margin_topToheader"></div><!--填充层-->
<div class="layout_vertical_outer">




    <div class="css_circle border_210209213 css_margin_left_right font_color_188191193 css_background_color_white">
        <div class="css_text_center css_border_bottom">

            <input placeholder="请输入新密码" class='input_base' ng-model="user.newPwd" type='password' name='newPwd'>

        </div>


        <div class="css_text_center">


            <input placeholder="请输入确认密码" class='input_base' ng-model="user.surePwd" type='password' name='surePwd'>
        </div>
    </div>






    <div class="button_submit_base css_background_color_110186078 css_margin_top" ng-click="clickSure(user)">  提交密码  </div>



</div>



