<!--更多页面-->


<div class="css_margin_topToheader"></div><!--填充层-->




<div class="layout_vertical_outer">
    <div class="css_border_base">
        <div class="win_horizontal_outer win_horizontal_outer_height css_border_bottom" ng-click="clickKHDXZ()">
            <div class="layout_horizontal_inner_left">客户端下载</div>

            <div class="layout_horizontal_inner_left1_notpadding css_text_center_right more_right_title">享受更多拨打优惠！</div>
            <div class="right_arrow"></div>
        </div>


        <div class="win_horizontal_outer win_horizontal_outer_height" ng-click="clickGZWX()">
            <div class="layout_horizontal_inner_left">关注微信</div>

            <div class="layout_horizontal_inner_left1_notpadding css_text_center_right more_right_title">体验微信内拨打电话！</div>

            <div class="right_arrow"></div>
        </div>
<!--
        <div class="win_horizontal_outer win_horizontal_outer_height css_border_bottom">
            <div class="layout_horizontal_inner_left">最新优惠</div>
            <div class="right_arrow"></div>
        </div>

        <div class="win_horizontal_outer win_horizontal_outer_height">
            <div class="layout_horizontal_inner_left ">消息中心</div>
            <div class="right_arrow"></div>
        </div>
        -->
    </div>
    <div class="css_margin_top css_border_base">
        <div class="win_horizontal_outer css_border_bottom win_horizontal_outer_height" ng-click="clickZFJS()">
            <div class="layout_horizontal_inner_left" >资费介绍</div>
            <div class="right_arrow"></div>
        </div>

        <div class="win_horizontal_outer win_horizontal_outer_height" ng-click="clickCJWT()">
            <div class="layout_horizontal_inner_left ">常见问题</div>
            <div class="right_arrow"></div>
        </div>
    </div>
    <div class="css_margin_top css_border_base">

        <div class="win_horizontal_outer css_border_bottom win_horizontal_outer_height" ng-click="clickMMXG()">
            <div class="layout_horizontal_inner_left ">密码修改</div>
            <div class="right_arrow"></div>
        </div>



        <div class="win_horizontal_outer win_horizontal_outer_height" ng-click="clickZHMM()">
            <div class="layout_horizontal_inner_left ">找回密码</div>
            <div class="right_arrow"></div>
        </div>

    </div>
    <div class="button_submit_base css_circle css_backgroundcolor_223043044 css_margin_top" ng-click="logout()" ng-bind="logoutBtnTitle"> </div>
</div>




